<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Airline Project</title>
        <link rel="stylesheet" href="style.css">
        <script src="script.js" defer></script>
        <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
              crossorigin="anonymous">
        <link rel="stylesheet" href="static/Style.css">
    </head>
    <body>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
        <div class='row' id="section2">
            <h1>SMART BRIDGE</h1>
            <h3>Identfying  airline passanger satisfaction using machine learning</h3>
            <button class='btn btn-warning btn-md text-light' style="width:200px;"><a href='{{url_for('Prediction')}}'>PREDICTION</a></button>
        </div>
        <div class='container'>
        <div class='row'>
            <h2>ABOUT</h2>
            <h6>AIRLINE PASSANGERS SATISFACTION</h6>
            <P>what factors lead to customer satisfaction for an Airline?<br>This dataset contains an airline passanger satisfaction surevey,What factors are highly coralated to a satisfaction to a satisfied (or dissatisfied)passangers?Can you predict Passanger satisfaction?</p>

               <h6>ATTRIBUTE INFORMATION:</h6>
               <p>-Gender:Gender of the passangers(Female,male)<br>-Customer Type:The customer type(Loyal Customer,disloyal customer<br>-Age: The actual age of the passangers<br>-Type of Travel:Purpose of the fight of the passanger(personal Travel,Bussiness travel)</p> 
        </div>
        </div>
    </body>
</html>
